<div id="eus-radikale-digitalpolitikk" class="md:flex mb-6 md:mb-8 md:justify-items-stretch mx-auto max-w-prose bg-gray-100 shadow-xl border-4 border-mørk-tavle-standard">
  <picture class="md:flex-1.5 self-stretch bg-mørk-tavle-standard">
    <source srcset="images/ine-moellergaard-eus-radikale-digitale-politikk.webp" type="image/webp">
    <source srcset="images/ine-moellergaard-eus-radikale-digitale-politikk.png" type="image/png">
    <img class="md:h-[165px] object-cover object-left md:shadow-lg" src="images/ine-moellergaard-eus-radikale-digitale-politikk.png" alt="">
  </picture>
  <div class="p-6 md:px-8 md:flex-1">
    <h2 class="font-bold">EUs radikale digitale politikk</h2>
    <details class="content mt-3">
      <summary class="a cursor-pointer">
        Les mer
      </summary>
      <!-- <p><a class="a" href="https://www.facebook.com/events/1363726594557611">Se møtet på Facebook</a></p> -->
      <h3>Tid og sted:</h3>
      <p>
        11. november, Oslo Venstres høstakademi
      </p>
      <h3>Tema:</h3>

      <p>EUs regelverk for personvern har allerede skapt store bølger i den digitale sfæren. Nå kommer det flere nye regler fra EU samtidig, fra AI act - som regulerer kunstig intelligens, til Digital Services Act (DSA) og Digital Markets Act (DMA) som regulerer de store aktørene - med trussel om bøter i milliardklassen om de ikke følges. Hva slags effekt vil dette ha for norsk næringsliv, offentlighet og personvern? Er det liberale endringer vi bør heie på? Hvor stort er egentlig handlingsrommet for å regulere internett? Kom og få oversikt over hva som nå skjer i EU, og hvilke spørsmål det reiser.</p>
    </details>
  </div>
</div>

<div id="oslo-kommune-digitale-tjenester" class="md:flex mb-6 md:mb-8 md:justify-items-stretch mx-auto max-w-prose bg-gray-100 shadow-xl border-4 border-mørk-tavle-standard">
  <picture class="md:flex-1.5 self-stretch bg-mørk-tavle-standard">
    <source srcset="images/daniel-jackson-digitale-verktoy.webp" type="image/webp">
    <source srcset="images/daniel-jackson-digitale-verktoy.png" type="image/png">
    <img class="md:h-[165px] object-cover object-left md:shadow-lg" src="images/daniel-jackson-digitale-verktoy.png" alt="">
  </picture>
  <div class="p-6 md:px-8 md:flex-1">
    <h2 class="font-bold">Digitale verktøy for å bygge Venstre</h2>
    <details class="content mt-3">
      <summary class="a cursor-pointer">
        Les mer
      </summary>
      <h3>Tid og sted:</h3>
      <p>
        11. november, Oslo Venstres høstakademi
      </p>
      <h3>Tema:</h3>
      <p>Workshop med Daniel Jackson fra Venstrekoderne: Hva slags digitale verktøy ville gjort det enklere å drive Venstre?</p>
    </details>
  </div>
</div>

<div id="offentlige-it-prosjekter-magne" class="md:flex mb-6 md:mb-8 md:justify-items-stretch mx-auto max-w-prose bg-gray-100 shadow-xl border-4 border-mørk-tavle-standard">
  <picture class="md:flex-1.5 self-stretch bg-mørk-tavle-standard">
    <source srcset="images/mote-jun-22-offentlige-it-prosjekter.webp" type="image/webp">
    <source srcset="images/mote-jun-22-offentlige-it-prosjekter.png" type="image/png">
    <img class="md:h-[165px] object-cover object-left md:shadow-lg" src="images/mote-jun-22-offentlige-it-prosjekter.png" alt="">
  </picture>
  <div class="p-6 md:p-8 md:flex-1">
    <h2 class="font-bold">Kan politikerne redde offentlige <span class="inline-block">IT-prosjekter?</span></h2>
    <details class="content mt-3">
      <summary class="a cursor-pointer">
        Les mer
      </summary>
      <p><a class="a" href="https://www.facebook.com/events/1363726594557611">Se møtet på Facebook</a></p>
      <h3>Tid og sted</h3>
      <p>
        <span class="">12. juni 2023 kl. 18:00 - 19:00</span></p>
      <p>Møtet er fysisk på Venstres hus (Møllergata 16, Oslo), men du kan delta digitalt via <a class="a" href="https://whereby.com/venstrekoderne">whereby.com/venstrekoderne</a></p>
      <h3 class="h3">Tema</h3>
      <p>Helseplattformen skulle gi Helse Midt-Norge et viktig digitalt løft, men har i stedet gitt dårligere pasientsikkerhet og økte kostnader, og høstet massiv motstand fra alle kanter. Direktoratet for e-helses Helseanalyseplattform vrakes, etter å allerede ha brukt 200 millioner kroner på konsulenttjenester. Oppgraderingen av Navs IT-systemer ligger nå an til å bli seks år forsinket, og har resultert i rekordlang ventetid.
      </p>
      <p>
        Tallenes tale er klar: Én av ti offentlige IT-prosjekter mislykkes, og det er de største prosjektene som står i størst fare for å feile. Hvorfor er det slik?
      </p><p>
        Magne Jørgensen er professor og forsker ved Simula, og har i mange år har forsket på hvilke faktorer som bestemmer at noen IT-prosjekter lykkes og andre ikke. 12. juni kommer han til oss for å fortelle om funnene, og diskutere hva som kan gjøres fra politisk hold for å unngå flere havarerte prosjekter.
      </p><p>
        Arrangementet er åpent for alle, og det vil være mulighet for spørsmål og diskusjoner mot slutten av møtet.
      </p><p>
        Etter møteslutt er det åpent for å fortsette samtalene og runde av semesteret på Brygg for de som ønsker.
      </p>

    </details>
  </div>
</div>

<div id="csam-desember-2022" class="md:flex mb-6 md:mb-8 md:justify-items-stretch mx-auto max-w-prose bg-gray-100 shadow-xl border-4 border-mørk-tavle-standard">
  <picture class="md:flex-1 self-stretch bg-mørk-tavle-standard">
    <source srcset="images/mote-4-oktober-2021-csam.webp" type="image/webp">
    <source srcset="images/mote-4-oktober-2021-csam.png" type="image/png">
    <img class="md:h-[196px] object-cover object-left md:shadow-lg" src="images/mote-4-oktober-2021-csam.png" alt="">
  </picture>
  <div class="p-6 md:p-8 md:flex-1">
    <h2 class="font-bold">Skal EU virkelig få se dine private bilder? EFN kommer og snakker om CSAM</h2>

    <details class="content mt-3">
      <summary class="a cursor-pointer">
        Les mer
      </summary>
      <h3 class="h3">Tid og sted</h3>
      <p>
        <span class="">Torsdag 15. desember 2022, kl. 18:00 - 19:00</span>
      </p>
      <p class="p"><em>Hybridmøte:</em>
        <br/>Fysisk: Venstres hus, Møllergata 16, 0179 Oslo
        <br/>Digitalt: <a class="a" href="https://whereby.com/venstrekoderne">whereby.com/venstrekoderne</a>
      </p>
      <p><a class="a" href="https://www.facebook.com/events/395621952647448">Se møtet på Facebook</a></p>
      <h3 class="h3">Tema</h3>
      <p>EU har en serie nye lover som er foreslått for å bekjempe overgrepsmateriale mot barn (forkortet CSAM).
        <a href="https://ec.europa.eu/commission/presscorner/detail/en/IP_22_2976">Les gjerne forslaget slit kommisjonen legger det frem</a>.
      </p>
      <p>Blant dem finner vi den såkalte «chat control» - en foreslått lov som kan gi myndighetene rett til å tvinge leverandører av meldingstjenester å scanne gjennom alle bilder og meldinger sendt av alle sine brukere for å se etter noe som for et dataprogram ligner på seksuelle bilder av barn eller grooming av mindreårige. Om det er en match, er det foreslått at bildene eller meldingene ses gjennom manuelt av noen som skal bestemme om bildene skal oversendes politiet eller ei.
      </p>
      <p>Det kan bety at både voksne og mindreårige som sexter og sender nakenbilder til hverandre kan risikere at bildene flagges av et dataprogram og ses gjennom av fremmede voksne som jobber for myndighetene og som skal se om de virker ulovlige eller ei. Det er foreslått å opprette et eget EU-spesifikt byrå for å gjøre denne jobben.
      </p>
      <p>
        Det er uklart hvordan dette vil fungere for krypterte meldingstjenester som Whatsapp eller Signal, hvor meldingene er kryptert slik at selv selskapet som leverer tjenesten ikke kan lese dine meldinger. Det fryktes at loven vil gi myndighetene rett til å tvinge leverandørene av disse tjenestene til å lage en «bakdør» hvor meldingene allikevel kan leses av leverandøren og staten.
      </p>
      <p>
        Forslaget gjelder både tekst og bilder du sender på chattetjenester, og den er ment til å fange opp ukjente tilfeller. Den vil dermed ramme alle som sender meldinger, uavhengig av om du er mistenkt for noe eller ei. Dette i motsetning til «vanlig overvåkning» hvor man først må få en domstol til å godkjenne at det er god grunn til overvåkning av en enkeltperson.
      </p>
      <p>
        Det er en rekke sikkerhetstiltak foreslått for å gjøre så loven respekterer personvernet. Men er de nok?
      </p>
      <p>
        Ingenting er vedtatt, og forslaget er under diskusjon i EU. Hvordan bør Venstre forholde seg til diskusjonen fra Norge?
      </p>
      <p>
        Tom Fredrik Blenning fra EFN kommer på besøk til oss i Venstrekoderne for å snakke om CSAM-forslagene, chat control, og alt rundt dette! Bli gjerne med for å lære mer eller fortelle om du selv vet noe om saken!
      </p>
      <p>Møtet blir et uformelt foredrag med tid til spørsmål til slutt.</p>

    </details>
  </div>
</div>

<div id="personvern-november-2022" class="md:flex mb-6 md:mb-8 md:justify-items-stretch mx-auto max-w-prose bg-gray-100 shadow-xl border-4 border-mørk-tavle-standard">
  <picture class="md:flex-1 self-stretch bg-mørk-tavle-standard">
    <source srcset="images/mote-november-2022-personvern.webp" type="image/webp">
    <source srcset="images/mote-november-2022-personvern.png" type="image/png">
    <img class="md:h-[165px] object-cover object-left md:shadow-lg" src="images/mote-november-2022-personvern.png" alt="">
  </picture>
  <div class="p-6 md:p-8 md:flex-1">
    <h2 class="font-bold">Hvordan står det til med norsk personvern?</h2>
    <p class="">
    <details class="content mt-3">
      <summary class="a cursor-pointer">
        Les mer og se slides
      </summary>
      <h3 class="h3">Slides fra møtet</h3>
      <p><a class="a" href="files/2022-10-28 Personvernkommisjonen.pdf">Last ned slides som PDF her</a></p>

      <h3 class="h3">Tid</h3>
      <span class="">Tirsdag 1. november 2022, kl. 18:00 - 19:00</span></p>
      <h3 class="h3">Sted</h3>
      <p class="p"><em>Hybridmøte:</em>
        <br/>Fysisk: Venstres hus, Møllergata 16, 0179 Oslo
        <br/>Digitalt: <a class="a" href="https://whereby.com/venstrekoderne">whereby.com/venstrekoderne</a>
      </p>
      <h3 class="h3">Kontaktperson</h3>
      <p>Annemarie Abeler <a href="mailto:annemarie@abeler.no">annemarie@abeler.no</a></p>
      <p><a class="a" href="https://www.facebook.com/events/1934503723556551/">Se møtet på Facebook</a></p>
      <h3 class="h3">Tema</h3>
      <p>Har du noen gang over trykket på en fargesterk Godkjenn-knapp uten helt å vite hva du har gått med på? Eller har du noen gang følt at annonsene har «avlyttet» deg eller at du føler deg «forfulgt» og sporet på nett? Da vet du hva manipulerende design og kommersiell sporing er.</p>
      <p>Personvernkommisjonen la i slutten av september frem resultatet av 2 års grundig arbeid.
      </p>
      <p>Vi er så heldige at vi har fått Finn Myrstad, fagdirektør i Forbrukerrådet og medlem av kommisjonen til å komme til Venstre hus for en presentasjon og samtale om disse tingene.
      </p>
      <p>Møtet blir et uformelt foredrag med tid til spørsmål til slutt.</p>

    </details>
  </div>
</div>

<div id="kunstig-intelligens-mars-2022" class="md:flex md:justify-items-stretch mx-auto max-w-prose bg-gray-100 shadow-xl border-4 border-mørk-tavle-standard">
  <picture class="md:flex-1 self-stretch bg-mørk-tavle-standard">
    <source srcset="images/møte-24-mars-eu-og-kunstig-intelligens.webp" type="image/webp">
    <source srcset="images/møte-24-mars-eu-og-kunstig-intelligens.png" type="image/png">
    <img class="md:h-[165px] object-cover object-left md:shadow-lg" src="images/møte-24-mars-eu-og-kunstig-intelligens.png" alt="">
  </picture>
  <div class="p-6 md:p-8 md:flex-1">
    <h2 class="font-bold">EUs foreslåtte regulering av kunstig intelligens</h2>
    <details class="content mt-3">
      <summary class="a cursor-pointer">
        Les mer og se slides
      </summary>
      <h3 class="h3">Slides fra møtet</h3>
      <p><a class="a" href="files/KI-foredrag 24.03.22.pdf">Last ned slides som PDF her</a></p>
      <h3 class="h3">Oppmøte</h3>
      <p>Vi var 12 stykker fysisk, og 8 stykker digitalt.</p>
      <p class="">Dato var torsdag 24. mars 2022</p>
      <h3 class="h3">Tema</h3>
      <p>Venstrekoderne inviterer til foredrag: Innføring i EUs foreslåtte regulering av kunstig intelligens</p>
      <p>Gjennom det siste tiåret har kunstig intelligens gått fra å være et akademisk forskningstema og et verktøy for spesialister, til å ha direkte påvirkning på samfunnet. Lite tyder på at denne utviklingen kommer til å avta med det første, og det har dermed også blitt klart at bruk av KI kommer til å bli gjenstand for regulering.</p>
      <p>Ine Møllegaard er jusstudent med faglig spesialisering i personvern og teknologi, og skriver masteroppgave om personvernforordningens regulering av automatiserte avgjørelser og profilering. Hun gir oss en innføring i EUs foreslåtte regulering av kunstig intelligens – hva reguleres, hvordan gjøres det og hvorfor bør dette være på politisk dagsorden.</p>
      <p>Møtet blir et uformelt foredrag med litt tid til spørsmål til slutt.</p>

      <h3 class="h3">Sted</h3>
      <p class="p"><em>Hybridmøte:</em>
        <br/>Fysisk: Venstres hus, Møllergata 16, 0179 Oslo
        <br/>Digitalt: <a class="a" href="https://whereby.com/venstrekoderne">whereby.com/venstrekoderne</a>
      </p>
      <p><a class="a" href="https://www.facebook.com/events/687863128900419">Se møtet på Facebook</a></p>

    </details>
  </div>
</div>