<div class="px-6 py-12 md:px-8 max-w-prose mx-auto content">

  <h2 class="text-venstregrønn-standard font-bold">Vedtekter</h2>

  <p class="italic">Vedtatt på årsmøtet 15. januar 2022</p>

  <h3>§1 Navn</h3>

  <p>Foreningen heter “Venstrekoderne” og forkortes VK.</p>

  <h3>§2 Formål</h3>

  <p>Foreningens formål er å bruke medlemmenes digitale kompetanse til å hjelpe andre organisasjoner som støtter Venstres grunnsyn med:</p>

  <ul>
    <li>Utvikling, valg og vedlikehold av digitale løsninger og verktøy</li>
    <li>Utforming av IT-relatert politikk</li>
  </ul>

  <h3>§3 Organisasjon</h3>

  <p>Foreningens øverste organ er Årsmøtet. Mellom årsmøter styres foreningen av Styret, som velges av Årsmøtet. Styrets leder velges av Årsmøtet.</p>

  <h3>§4 Årsmøtet</h3>


  <p>Årsmøtet holdes årlig i januar, februar eller mars.</p>

  <p>Årsmøtet skal minimum behandle:</p>

  <ol>
    <li>Årsmelding</li>
    <li>Regnskap</li>
    <li>Vedtekter</li>
    <li>Inkomne forslag</li>
    <li>Budsjett</li>
    <li>Valg av styre</li>
    <li>Fastsette kontingent</li>
  </ol>

  <p>Alle medlemmer skal varsles om årsmøtedato senest fire uker før årsmøtet. Innkalling med agenda skal sendes til alle medlemmer minst to uker før Årsmøtet. Informasjon om møtet skal minimum sendes til medlemmets oppgitte e-post.</p>

  <p>Alle medlemmer har talerett, stemmerett og møterett på årsmøter. Årsmøtet er vedtaktsdyktig om minst 3 deltar.</p>

  <p>Alle medlemmer har forslagsrett til årsmøter. Forslag til årsmøtet skal være sendt minimum en uke før møtet. Årsmøtet kan allikevel velge å behandle et forslag som er kommet etter fristen, med alminnelig flertall. Styret kan gjøre en redaksjonell jobb før møtet, og foreslå både hvilke forslag som skal behandles og ikke og hvilke man anbefaler vedtatt og ikke. Årsmøtet kan uansett styrets innstiling velge å behandle eller vedta et forslag.</p>

  <p>Årsmøtet fatter vanlige vedtak med alminnelig flertall. Det kan kreves hemmelig valg i personvalg. Vedtektsendringer krever 2/3 flertall.</p>

  <p>50% av medlemmene kan ved skriftlig digital signatur kalle inn til ekstraordinært årsmøte med en fastsatt agenda, med minst to ukers varsel. Et ekstraordinært årsmøte kan kun stemme over forslag som er fremmet i agendaen. Et ekstraordinært årsmøte kan ikke forskyves av Styret. Et ekstraordinært årsmøte er vedtaktsdyktig kun om 25% eller fler av medlemmene deltar.</p>

  <p>Klarer ikke foreningen å avholde et regulært årsmøte skal det dannes et interimstyre som kun skal jobbe for å få i stand et gyldig årsmøte. Interimstyret dannes av Styret innen seks måneder fra opprinnelig årsmøtedato. Om Styret ikke klarer dette kan vanlige medlemmer danne et interimstyre og arrangere et årsmøte.</p>

  <h3>§5 Styret</h3>


  <p>Styret består minimum av Leder og ett Styremedlem, og maksimalt Leder og fem (5) Styremedlemmer. I tillegg står årsmøtet fritt til å oppnevne varamedlemmer.</p>

  <p>Styret har ansvar for foreningens drift og veivalg mellom årsmøter, og står fritt til å gjøre alle vedtak som ikke vil stride mot et årsmøtevedtak.</p>

  <p>Leder har fullmakt til å inngå avtaler og signere på vegne av foreningen.</p>

  <p>Styret fatter vedtak med allminnelig flertall. Ved stemmelikhet har Leder dobbeltstemme.</p>

  <h3>§6 Medlemsskap</h3>


  <p>Medlemsskap kan tegnes av alle som støtter formålsparagrafen, såfremt man ikke er medlem i organisasjoner knyttet til andre partier.</p>
  
  <p>Årsmøtet kan velge å fastsette en årlig medlemskontingent.</p>

  <p>Medlemmer kan være spleisende eller ikke-spleisende, og kan fritt bytte fra den ene til den andre. Spleisende medlemmer deler på foreningens utgifter. Utgifter skal være godkjent av Styret. Alle i Styret må være spleisende medlemmer.</p>

  <p>For å sikre at foreningen er en konstruktiv arena gis Styret fullmakt til å utestenge medlemmer fra foreningens vanlige møter og digitale kanaler, om medlemmet oppleves forstyrrende for gruppens arbeid. Medlemmet vil fortsatt ha møterett, talerett og stemmerett ved Årsmøtet.</p>

  <h3>§7 Oppløsning</h3>


  <p>Foreningen kan legges ned med 2/3 flertall av Årsmøtet. Foreningen kan også legges ned av interimstyret om foreningen ikke har klart å avholde Årsmøte to år på rad.</p>
  
  <p>Ved oppløsning av foreningen skal foreningens eiendom doneres til et formål eller organisasjon som støtter formålsparagrafen.</p>
</div>