---
layout: default
title: "Eksempel"
date: 2024-01-01 12:00:00 +0200
img: "images/eksempel.webp"
tags: [next]
---
### Tid og sted
Mandag 1. jan, kl. 12:00 - 16:00
Hybrid: Fysisk på Venstres hus, digitalt på <a class="a" href="https://whereby.com/venstrekoderne">https://whereby.com/venstrekoderne</a>

### Eksempel
Beskrivelse

Det blir gøy

Kom kom